{% extends "base_admin.html" %}


{% block head %}
<title> Add new </title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/estilos.css') }}">
{% endblock %}


{% block content %}

<div class="center">
  <h3> Add New </h3>
</div>
<br><br>

<form action="/api/add_new" method="post" enctype="multipart/form-data">
    <div class="form-eshop">
      <br><br>


                    new['author_user'],
                    new['publish_date'],
                    new['title'],
                    new['description'],
                    new['url'],
                    new['content_html'],
                    new['id_news_category']


        <div class="form-group">

            <select class="form-control" name="category" required>
                {% if not product %}
                    <option value="-1"> Select a a category </option>
                {% endif %}

                {% for category in categories %}
                    <option value="{{ category.id_category|string + '-' + category.category_name }}"
                            {% if product %}
                              {% if product.id_category == category.id_category %}
                                selected
                              {% endif %}
                            {% endif %}
                    >
                      {{ category.category_name }}
                    </option>
                {% endfor %}



            </select>
        </div><br>

        <div class="form-group">
            <input class="form-control form-content-lg" type="text" name="product_name"
            placeholder="Product name" required>
        </div><br>


        <div class="form-group">
            <input class="form-control form-content-lg" type="number"
                   name="price" min="0" step=".01"
            placeholder="Price" required>
        </div><br>


        <div class="form-group">
            <label for="img_path">Image</label>
            <input class="form-control form-content-lg" type="file" name="image" id="img_path"
            placeholder="Imagen" required>
        </div>


      <br><br>
    </div>
    <br><br>
    <div class="center">
        <button class="btn btn-success" style="color: black; margin: 20px;" type="submit">
            Save
        </button>

        <button class="btn btn-danger" style="color: black; margin: 20px;" onclick="window.history.go(-1); return false;">
            Cancel
        </button>
    </div>

    <br><br>

  </form>

{% endblock %}
