{% extends "base_admin.html" %}


{% block head %}
<title> Add new product </title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/estilos.css') }}">
<script charset="utf-8" type="text/javascript">

</script>
{% endblock %}


{% block content %}

<div class="center">
  <h3> Add new Product </h3>
</div>
<br><br>

<form action="/api/update_product" method="post" enctype="multipart/form-data">
    <div class="form-eshop">
      <br><br>



        <div class="form-group">

            <input class="form-control form-content-lg" type="text" name="id_product"
                       value="{{ product.id_product if product else -1 }}"
                       style="display: none;"
                       required>

            <input class="form-control form-content-lg" type="text" name="img_path"
                       value="{{ product.img_path if product else '' }}"
                       style="display: none;"
                       required>




            <select class="form-control" name="category" required>
                {% if not product %}
                    <option value="-1"> Select a a category </option>
                {% endif %}

                {% for category in categories %}
                    <option value="{{ category.id_category|string + '-' + category.category_name }}"
                            {% if product %}
                              {% if product.id_category == category.id_category %}
                                selected
                              {% endif %}
                            {% endif %}
                    >
                      {{ category.category_name }}
                    </option>
                {% endfor %}



            </select>
        </div><br>

        <div class="form-group">
            <input class="form-control form-content-lg" type="text" name="product_name"
            placeholder="Product name"
                   value="{{ product.name if product else '' }}"
                   required>
        </div><br>


        <div class="form-group">
            <input class="form-control form-content-lg" type="number"
                   name="price" min="0" step=".01"
            placeholder="Price"
                   value="{{ product.price if product else '' }}"
                   required>
        </div><br>


        <div class="form-group">

            {% if product %}
                <p> Previous imagen: </p>
                <img src="{{ '/static/' + product.img_path}}" width="100%">
            {% endif %}
            <label for="img_path">New Image</label>
            <input class="form-control form-content-lg" type="file" name="image" id="img_path"
            placeholder="Imagen (Optional, leave empty if the image wont be updated)">
        </div>


      <br><br>
    </div>
    <br><br>
    <div class="center">
        <button class="btn btn-success" style="color: black; margin: 20px;" type="submit">
            Update
        </button>

        <button class="btn btn-danger" style="color: black; margin: 20px;" onclick="window.history.go(-1); return false;">
            Cancel
        </button>
    </div>

    <br><br>

  </form>

{% endblock %}
