.center {
    text-align: center;
    margin: 0 auto;

}

.form-eshop {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #bcc6f5;
    width: 60%;
}

.text-grey {
    color: #9d9ea3;
}

.button-panel {
    color: black;
    width: 200px;
    height: 100px;
    margin: 10px;
    font-size: 40px;


}

a {
    color: inherit;
    text-decoration: none;
}

#div_products {
    margin-left: 4%;
    margin-right: 4%;
}
#div_orders {
    margin-left: 4%;
    margin-right: 4%;
}
#div_users {
    margin-left: 4%;
    margin-right: 4%;
}


.container-chart {
    width: 100%;
    height: 100%;


}

.chart {
    display: inline;
    width: 49%;
    height: 50%;
}
