.center {
    text-align: center;
    margin: 0 auto;

}

.form-eshop {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #bcc6f5;
    width: 60%;
}

.text-grey {
    color: #9d9ea3;
}