{% extends "base.html" %}


{% block head %}
<title> {{product.name}} </title>
{% endblock %}

{% block content %}

<div class="container text-center">
    <img class="mt-2" src={{ url_for('static', filename = '') }}{{product.img_path}}>
    <div>
        {{product.name}}
    </div>
    <div>
        {{product.price}}
    </div>
    <div>
        {% for y in range(product.avgrating|int) %}
        <span class="fa fa-star checked text-warning"></span>
        {% endfor %}
        {%for z in range(5-(product.avgrating|int))%}
        <span class="fa fa-star"></span>
        {% endfor %}
    </div>
    <div></div>
    {% if logged_in %}
    <div>
        <form action="/my_cart" method="POST"
            class="form-inline active-pink-3 active-pink-4 justify-content-center mt-4 ">
            <input type="hidden" name="product_id" value="{{product.id_product}}">
            <input class="form-control form-control-sm ml-3 w-15 mr-1" type="text" placeholder="Quantity"
                aria-label="Search" name="quantity" value="1" min="1">
            <a href="#"><button class="btn btn-primary">Add to Cart!</button></a>
        </form>
    </div>
    {% else %}
    <a href="/login"><button class="btn btn-primary">Order Now!</button></a>
    {% endif %}
    </div>
    <div class="text-center mt-2">
    <button class="btn btn-success" onclick="myFunction()">Share this product!</button>
    <input type="hidden" value="http://localhost:5000/product?view={{product.id_product}}" id="myInput">
    </div>
</div>



<div class="container mb-5">
    <h3 class="mb-2"><strong>Similar Products</strong></h3>
    <div class="row">
        {% for x in similar %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="shop-item">
                <a href="/product?view={{x.id_product}}"><img height="140px" width="223px"
                        src={{ url_for('static', filename = '') }}{{x.img_path}}></a>
                <div>
                    <a href="/product?view={{x.id_product}}">{{x.name}}</a>
                </div>
                <div>
                    <a href="/product?view={{x.id_product}}">{{x.price}}</a>
                </div>
                <div>
                    {% for y in range(x.avgrating|int) %}
                    <span class="fa fa-star checked text-warning"></span>
                    {% endfor %}
                    {%for z in range(5-(x.avgrating|int))%}
                    <span class="fa fa-star"></span>
                    {% endfor %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if logged_in %}

<!--Similar products-->
<div class="container mb-5">
    <h3 class="mb-2"><strong>Other products recommended for you</strong></h3>
    <div class="row">
        {% for x in recp %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="shop-item">
                <a href="/product?view={{x.id_product}}"><img width="223px"
                        src={{ url_for('static', filename = '') }}{{x.img_path}}></a>
                <div>
                    <a href="/product?view={{x.id_product}}">{{x.name}}</a>
                </div>
                <div>
                    <a href="/product?view={{x.id_product}}">{{x.price}}</a>
                </div>
                <div>
                    {% for y in range(x.avgrating|int) %}
                    <span class="fa fa-star checked text-warning"></span>
                    {% endfor %}
                    {%for z in range(5-(x.avgrating|int))%}
                    <span class="fa fa-star"></span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!--Similar products group-based -->
<div class="container mb-5">
    <h3 class="mb-2"><strong>Recommendations based on your location</strong></h3>
    <div class="row">
        {% for x in recg %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="shop-item">
                <a href="/product?view={{x.id_product}}"><img width="223px"
                        src={{ url_for('static', filename = '') }}{{x.img_path}}></a>
                <div>
                    <a href="/product?view={{x.id_product}}">{{x.name}}</a>
                </div>
                <div>
                    <a href="/product?view={{x.id_product}}">{{x.price}}</a>
                </div>
                <div>
                    {% for y in range(x.avgrating|int) %}
                    <span class="fa fa-star checked text-warning"></span>
                    {% endfor %}
                    {%for z in range(5-(x.avgrating|int))%}
                    <span class="fa fa-star"></span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endif %}

<script>
  function myFunction() {
  var copyText = document.getElementById("myInput");
  navigator.clipboard.writeText(copyText.value)
  alert("Product link copied to clipboard!");
}

</script>


{% endblock %}