{% extends "base.html" %}


{% block head %}
<title> Search Product </title>
{% endblock %}
{% block content %}
<form action="/search" method="get" class="form-inline active-pink-3 active-pink-4 justify-content-center mt-4 ">
    <input class="form-control form-control-sm ml-3 w-50 mr-1" type="text" placeholder="What are you looking for?"
      aria-label="Search" name="q">
      <span><button type="submit" class="btn btn-primary">Search</button></span>
  </form>
  <hr> 

<div class="container mb-5">
    <h3 class="mb-2"><strong>Search Results</strong></h3>
    <div class="row">
      {% for x in prods %}
      <div class ="col-md-4 col-sm-6 col-xs-12">
          <div class="shop-item">
              <a href="/product?view={{x.id_product}}"><img width="223px" src= {{ url_for('static', filename = '') }}{{x.img_path}}></a>
              <div>
                  <a href="/product?view={{x.id_product}}">{{x.name}}</a>
              </div>
              <div>
                  <a href="/product?view={{x.id_product}}">{{x.price}}</a>
              </div>
              <div>
                  {% for y in range(x.avgrating|int) %}
                  <span class="fa fa-star checked text-warning"></span>
                  {% endfor %}
                  {%for z in range(5-(x.avgrating|int))%}
                  <span class="fa fa-star"></span>
                  {% endfor %}
              </div>
          </div>
      </div> 
      {% endfor %}
    </div>
</div>

{% if logged_in %}

<!-- Personalized Recommendations -->
<div class="container mb-5">
    <h3 class="mb-2"><strong>Other products recommended for you</strong></h3>
    <div class="row">
      {% for x in recp %}
      <div class ="col-md-4 col-sm-6 col-xs-12">
          <div class="shop-item">
              <a href="/product?view={{x.id_product}}"><img width="223px" src= {{ url_for('static', filename = '') }}{{x.img_path}}></a>
              <div>
                  <a href="/product?view={{x.id_product}}">{{x.name}}</a>
              </div>
              <div>
                  <a href="/product?view={{x.id_product}}">{{x.price}}</a>
              </div>
              <div>
                  {% for y in range(x.avgrating|int) %}
                  <span class="fa fa-star checked text-warning"></span>
                  {% endfor %}
                  {%for z in range(5-(x.avgrating|int))%}
                  <span class="fa fa-star"></span>
                  {% endfor %}
              </div>
          </div>
      </div> 
      {% endfor %}
    </div>
</div>


<!-- Group Recommendations -->

<div class="container mb-5">
    <h3 class="mb-2"><strong>Recommendations based on your location</strong></h3>
    <div class="row">
      {% for x in recg %}
      <div class ="col-md-4 col-sm-6 col-xs-12">
          <div class="shop-item">
              <a href="/product?view={{x.id_product}}"><img width="223px" src= {{ url_for('static', filename = '') }}{{x.img_path}}></a>
              <div>
                  <a href="/product?view={{x.id_product}}">{{x.name}}</a>
              </div>
              <div>
                  <a href="/product?view={{x.id_product}}">{{x.price}}</a>
              </div>
              <div>
                  {% for y in range(x.avgrating|int) %}
                  <span class="fa fa-star checked text-warning"></span>
                  {% endfor %}
                  {%for z in range(5-(x.avgrating|int))%}
                  <span class="fa fa-star"></span>
                  {% endfor %}
              </div>
          </div>
      </div> 
      {% endfor %}
    </div>
</div>

{% endif %}


{% endblock %}